# 第三章 数据结构和序列

元组

In [1]:
tup=4,5,6#元组
tup

(4, 5, 6)

In [2]:
tuple([4,0,2])

(4, 0, 2)

In [3]:
tup=tuple("string")
tup

('s', 't', 'r', 'i', 'n', 'g')

In [4]:
("foo","bar")*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [5]:
tup=[4,5,6]
a,b,c=tup
b

5

In [6]:
a,b=b,a
a

5

In [7]:
values=1,2,3,4,5
a,b,*rest=values#a,b,*_=values
a,b

(1, 2)

In [8]:
rest

[3, 4, 5]

In [9]:
a=(1,2,2,2,3,4,2)#统计次数
a.count(2)

4

列表

In [10]:
a_list=[1,2,3,4]
a_list.append(5)
a_list

[1, 2, 3, 4, 5]

In [11]:
a_list.insert(1,"x")
a_list

[1, 'x', 2, 3, 4, 5]

In [12]:
a_list.pop(1)

'x'

In [13]:
a_list

[1, 2, 3, 4, 5]

In [14]:
a_list.append(5)
a_list

[1, 2, 3, 4, 5, 5]

In [15]:
a_list.remove(5)
a_list

[1, 2, 3, 4, 5]

In [16]:
"3" in a_list#这是字符串

False

In [17]:
3 in a_list

True

In [18]:
a_list.extend([6,7,(2,3)])
a_list

[1, 2, 3, 4, 5, 6, 7, (2, 3)]

In [19]:
b=[7,2,5,1,3]
b.sort()
b

[1, 2, 3, 5, 7]

In [20]:
c=["what","are","your","apple","?"]
c.sort(key=len)
c

['?', 'are', 'what', 'your', 'apple']

In [21]:
import bisect#列表已经排序，插入数据
c=[1,2,2,2,3,4,7]
bisect.bisect(c,2)

4

In [22]:
bisect.bisect(c,5)

6

In [23]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [24]:
c[::2]#隔数取值

[1, 2, 3, 6]

In [25]:
c[::-1]#翻转

[7, 6, 4, 3, 2, 2, 2, 1]

In [26]:
d=["what","are","your","apple","?"]
mapping={}
for i,value in enumerate(d):#字典
    mapping[value]=i
mapping

{'what': 0, 'are': 1, 'your': 2, 'apple': 3, '?': 4}

In [27]:
sorted([7,1,2,6,0,3,2])#排序

[0, 1, 2, 2, 3, 6, 7]

In [28]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [29]:
sep1=["what","are","your","apple","?"]
sep2=["my","name","is","li","hua"]
zipped=zip(sep1,sep2)
list(zipped)

[('what', 'my'),
 ('are', 'name'),
 ('your', 'is'),
 ('apple', 'li'),
 ('?', 'hua')]

In [30]:
sep3=["li","hua"]
zipped=zip(sep1,sep2,sep3)
zipped
f=list(zipped)
f

[('what', 'my', 'li'), ('are', 'name', 'hua')]

In [31]:
for i,(a,b) in enumerate(zip(sep1,sep2)):
    print("{0}:{1},{2}".format(i,a,b))

0:what,my
1:are,name
2:your,is
3:apple,li
4:?,hua

In [32]:
f

[('what', 'my', 'li'), ('are', 'name', 'hua')]

In [33]:
first_names,second_names,last_names=zip(*f)#行变列
first_names

('what', 'are')

In [34]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

字典

In [35]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [36]:
del d1[7]
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [37]:
ret = d1.pop('b')
ret

[1, 2, 3, 4]

In [38]:
d1

{'a': 'some value'}

In [39]:
list(d1.keys())

['a']

In [40]:
list(d1.values())

['some value']

In [41]:
d1.update({'b' : 'foo', 'c' : 12})#可以将⼀个字典与另⼀个融合

In [42]:
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

In [43]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [44]:
words = ['apple', 'bat', 'bar', 'atom', "book"]
by_letter = {}#字典
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [45]:
 by_letter1={}
for word in words:#等价之前的
    letter = word[0]
    by_letter1.setdefault(letter,[]).append(word)
by_letter1

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [46]:
from collections import defaultdict#进⼀步简化
by_letter2 = defaultdict(list)
for word in words:
    by_letter2[word[0]].append(word)
by_letter2

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

集合

In [47]:
a = {1, 2, 3, 4, 5}
b = ([3, 4, 5, 6, 7, 8])

In [48]:
a.union(b)#合并a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
a.intersection(b)#交集a & b

{3, 4, 5}

In [50]:
c = a.copy()
c.update(b)
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
d = a.copy()
d.intersection_update(b)
d

{3, 4, 5}

In [52]:
a.issubset(d)

False

In [53]:
a.issuperset(d)

True

In [54]:
strings = ['a', 'as', 'bat', 'car', 'dove',"python"]
[x.upper() for x in strings if len(x) > 2]#列表推导式

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [55]:
unique_lengths = {len(x) for x in strings}#集合
unique_lengths

{1, 2, 3, 4, 6}

In [56]:
set(map(len,strings))#map 函数可以进⼀步简化

{1, 2, 3, 4, 6}

In [57]:
loc_mapping = {val : index for index, val in enumerate(strings)}#字典
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [58]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', "Natalia","Pilar"]]

In [59]:
names_of_interest = []#嵌套列表推导式
for names in all_data:
    enough_es=[name for name in names if name.count("e")>=2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [60]:
result=[name for names in all_data for name in names if name.count("e")>=2]
result#同理

['Steven']

In [61]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
flattened1= []
for tup in some_tuples:
    for x in tup:
        flattened1.append(x)
flattened1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
[[x for x in tup] for tup in some_tuples]#可读性

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# 函数

In [64]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [65]:
my_function(5, 6, z=0.7)#关键字参数必须位于位置参数之后

0.06363636363636363

In [66]:
my_function(y=6, x=5, z=7)

77

全局变量

In [67]:
def func():
    a = []#内部
    for i in range(5):
        a.append(i)

In [68]:
a = []#外部
def func():
    for i in range(5):
        a.append(i)

In [69]:
a = None
def bind_a_variable():
     global a
     a=[]
bind_a_variable()
print(a)

[]

In [70]:
states = [" Alabama ","Georgia!","Georgia","georgia","FlOrIda","south carolina##","West virginia?"]

In [71]:
import re
def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value = re.sub('[!#?]','', value)#删除各种标点符号
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [72]:
def remove_punctuation(value):
    return re.sub('[!#?]','', value)
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings,ops):
    for value in strings:
        for function in ops:
            value=function(value)
        result.append(value)
    return result
clean_strings(states,clean_ops)

['Steven',
 'Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [73]:
for x in map(remove_punctuation, states):
     print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [74]:
strings = ['foo', 'card', 'bar', 'aaaa', "abab"]
strings.sort(key=lambda x: len(set(list(x))))#按照集合中的长度排列
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

生成器

In [75]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2
gen = squares()
gen

In [76]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [77]:
gen = (x ** 2 for x in range(100))
gen#同样的效果

In [78]:
for x in gen:
    print(x, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

itertools模块

In [79]:
import itertools#groupby接受序列和⼀个函数。它根据函数的返回值对序列中的连续元素进⾏分组
first_letter = lambda x: x[0]
names = ['Alan', 'Albert', 'Wes', 'Will', 'Adam', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generato

A ['Alan', 'Albert']
W ['Wes', 'Will']
A ['Adam']
S ['Steven']

错误和异常处理ValueError、TypeError

In [80]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
attempt_float('1.2345')

1.2345

In [81]:
attempt_float('something')

'something'

⽂件和操作系统
(1)pandas.read_csv
(2)path = 'examples/segismundo.txt'
f = open(path)
for line in f:
    pass
lines = [x.rstrip() for x in open(path)]
lines
f.close()
(3)with open(path) as f:
       lines = [x.rstrip() for x in f] 

read()\tell()\seek()